@model IEnumerable<prework_asp.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.isTeacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TclID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TclID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
