@model IEnumerable<prework_asp.Models.Assignments>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress.ProgressID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignmentsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignmentsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
